<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parabéns!</title>
    <link rel="stylesheet" href="css/conclusao.css" />
  </head>
  <body>
    <div class="parabens">
      <div class="container">
        <div class="card">
          <h1>Parabéns!</h1>
          <p>Agora tente os outros modos.</p>
          <a href="/" class="button">Voltar</a>
        </div>
      </div>
    </div>
  </body>
</html>