<link href="css/main.css" rel="stylesheet" />

<div class="credito">
  <span class="wal">Walace Prado Oliveira</span>
  <span class="mat">Matheus Henrique Oliveira Rêgo</span>
  <span class="kau">Kauã Lucas Ferreira de Moura</span>
  <span class="enz">Enzo Moia</span>
  <span class="rap">Raphael Gomes Batista</span>
  <div class="credito2">
    <span class="trabalho">Trabalho feito pelos integrantes do 2º DS</span>
    <span class="credito3">Créditos</span>

  </div>
  <a href="/">
    <button class="botao-voltar"> Voltar </button>
  </a>
</div>