    <link rel="stylesheet" href="css/style.css"/>
<!-- Title -->
    <div class="container">
        <div class="row" id="line1">
            <h1 class="text-center" id="title"> Show do Tonhão </h1>
            <h5 class="text-center">Teste sua matemática!</h5>
        </div>

        <!-- buttons -->
        <div class="row" id="line2">
            <button class="col-2 m-auto rounded-pill " id="Iniciar"><a href="/comecar"
                    class=" text-center">Começar</a></button>
        </div>
        <div class="row" id="line3">
            <button class="col-2 m-auto rounded-pill " id="Ranking"><a href="/regras"
                    class=" text-center">Regras</a></button>
        </div>
        <div class="row" id="line4">
            <a href="/creditos"
                    class=" text-center">
            <button class="col-2 m-auto rounded-pill " id="Ranking">Créditos</a></button>
        </div>
        <div class="row" id="line4">
            <a href="/ranking"
                    class=" text-center">
            <button class="col-2 m-auto rounded-pill " id="Ranking">Ranking</a></button>
        </div>
    </div>
    <!-- Símbolos -->

    <img src="src/adição.png"  id="Adi" class="symbols">
    <img src="src/divisão.png"  id="Div" class="symbols">
    <img src="src/igual.png"  id="Igual" class="symbols">
    <img src="src/Multiplicação.png"  id="Mult" class="symbols">
    <img src="src/resto.png" id="Rest" class="symbols">
    <img src="src/subtração.png" id="Sub" class="symbols">
    <!-- mascote -->
    <img src="../src/mamacoInicial.png" width="25%" id="MamacoInicial" value="macaco">


