<!-- CSS -->
<link rel="stylesheet" href="css/Menu.css" />
<div class="container">
  <h1 class="nivel">Escolha um nível</h1>
  <section class="alinhar">
    <div class="divbtn"><button class="btn"><a href="/modo/Fácil" class="abtn">
          Fácil</a></button>
    </div>
    <div class="divbtn"><button class="btn"><a href="/modo/Médio" class="abtn">
          Médio</a></button>
    </div>
    <div class="divbtn"><button class="btn"><a
          href="/modo/Difícil"
          class="abtn"
        >
          Dificíl</a></button>
    </div>
  </section>
  <img src="src/grafico.png" alt="" class="grafico" />
  <img src="src/mamacoandante.png" alt="" class="macacoandante" />
</div>