<link rel="stylesheet" href="css/regras.css" />

<div class="regras-container">
  <div class="img">
    <img src="src/lupa.png" alt="" height="100px" width="100px" />
    <h1>Regras</h1>

    <ol class="regras">
      <li>A pontuação será apenas contabilizado caso o jogador acerte a resposta
        da pergunta;</li>
      <li>O jogador que errar a resposta da pergunta irá voltar para o começo do
        jogo, com o tempo ainda contando;</li>
      <li>Caso o jogador saia no meio da partida, sua pontuação será zerada;</li>
      <li>Caso haja um empate, o jogo será desempatado pelo tempo;</li>
      <li>O jogador não poderá consultar a internet, se isso ocorrer sua
        pontuação será zerada;</li>
      <li>Durante o jogo, o jogador poderá realizar o cálculo em um papel, a não
        ser no nível fácil;</li>
      <li>O jogador não poderá revelar as respostas das perguntas para outros
        jogadores, se não estará desclassificado;</li>
      <li>O jogador não terá dicas;</li>
    </ol>
  </div>
  <br />
  <button class="botao-voltar"> <a href="/"> Voltar </a></button>

</div>